<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th *ngFor="let tableHeader of tableHeaders">{{tableHeader}}</th>
    </tr>
  </thead>
  <tbody *ngIf="tableType === 'roles'">
    <tr *ngFor="let content of contents">
      <td>{{content.name}}</td>
      <td>{{content.permissions}}</td>
      <td>
        <app-valcom-table-actions [content]="content"></app-valcom-table-actions>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="tableType === 'channels'">
    <tr *ngFor="let content of contents">
      <td>{{content.name}}</td>
      <td>{{content.sticky}}</td>
      <td><input type="color" value="{{content.style}}" disabled></td>
      <td><input type="color" value="{{content.color}}" disabled></td>
      <td>
        <app-valcom-table-actions [content]="content"></app-valcom-table-actions>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="tableType === 'files'">
    <tr *ngFor="let content of contents">
      <td>{{content.name}}</td>
      <td>{{content.sticky}}</td>
      <td><input type="color" value="{{content.style}}" disabled></td>
      <td><input type="color" value="{{content.color}}" disabled></td>
      <td>
        <app-valcom-table-actions [content]="content"></app-valcom-table-actions>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="tableType === 'users'">
    <tr *ngFor="let content of contents">
      <td>{{content.username}}</td>
      <td>{{content.admin || false }}</td>
      <td>{{content.email}}</td>
      <td>
        <ul>
          <li *ngFor="let channel of content.channels">{{channel.name}}</li>
        </ul>
      </td>
      <td>
        <app-valcom-table-actions [content]="content"></app-valcom-table-actions>
      </td>
    </tr>
  </tbody>
</table> <!-- end table -->
